<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Characters</h1>
</div>

<!-- Content Row -->
<div class="row">
  <div class="col-lg">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Faction</th>
            <th scope="col">Color</th>
            <th scope="col">Normal Cost</th>
            <th scope="col">Elite Cost</th>
            <th scope="col">Hp</th>
            <th scope="col">/</th>
            <th scope="col">/</th>
          </tr>
        </thead>
        <% if (characters) { %>
          <% characters.forEach(function(character){ %>
            <tr>
              <th scope="row"><%= character.id %></th>
              <td><%= character.name %></td>
              <td><%= character.faction %></td>
              <td><%= character.color %></td>
              <td><%= character.costNormal %></td>
              <td><%= character.costElite %></td>
              <td><%= character.hp %></td>
              <!-- <td><button type="button" class="btn btn-warning btn-modal" data-id="{{ $category->id }}" data-toggle="modal" data-target="#categoryEditModal{{ $category->id }}">Edit</button></td>
              <td><button type="button" class="btn btn-danger" data-id="{{ $category->id }}" data-toggle="modal" data-target="#categoryDeleteModal{{ $category->id }}">Delete</button></td> -->
            </tr>
          <% }); %>
        <% } %>
        <!-- <tbody>
          @if(count($categories) > 0)
            @foreach ($categories as $category)
            @include('admin.inc.category.categoryEditModal')
            @include('admin.inc.category.categoryDeleteModal')
            <tr>
              <th scope="row">{{$category->id}}</th>
              <td>{{$category->name}}</td>
              <td><button type="button" class="btn btn-warning btn-modal" data-id="{{ $category->id }}" data-toggle="modal" data-target="#categoryEditModal{{ $category->id }}">Edit</button></td>
              <td><button type="button" class="btn btn-danger" data-id="{{ $category->id }}" data-toggle="modal" data-target="#categoryDeleteModal{{ $category->id }}">Delete</button></td>
            </tr>
            @endforeach
          @else
            <p>No categories found</p>
          @endif
        </tbody> -->
      </table>
  </div>
</div>

<!-- Content Row -->

<div class="row">
  <div class="col-lg">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#character-modal">Add Character</button>
  </div>
</div>

<%- include('../modal/_character_modal'); %>