          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>  
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Most Played Character</div>
                      <div class="h6 mb-0 font-weight-bold text-gray-800">Luke Skywalker / Han Solo</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Best Character</div>
                      <div class="h6 mb-0 font-weight-bold text-gray-800">Kylo Ren / Boba Fett</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Worst Character</div>
                      <div class="h6 mb-0 font-weight-bold text-gray-800">Imperial Palace</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-6 col-lg-6">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Characters by player Ace</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Select player</div>
                      <% if (players) { %>
                        <% players.forEach(function(player){ %>
                          <a class="dropdown-item" href="#"><%= player.name %></a>
                        <% }); %>
                      <% } %>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <table class="table">
                    <thead class="thead">
                      <tr>
                        <th scope="col">Character</th>
                        <th scope="col">Total</th>
                        <th scope="col">Wins</th>
                        <th scope="col">Losses</th>
                        <th scope="col">%</th>
                      </tr>
                    </thead>
                    <tbody>                     
                      <% if (charactersByPlayerOne) { %>
                        <% charactersByPlayerOne.forEach(function(character){ %>
                          <tr>
                            <th scope="row"><%= character.name %></th>
                            <th><%= character.total %></th>
                            <th><%= character.wins %></th>
                            <th><%= character.losses %></th>
                            <th><%= character.winrate %></th>
                          </tr>
                        <% }); %>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Area Chart -->
            <div class="col-xl-6 col-lg-6">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Characters by player Bojan</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Select player</div>
                      <% if (players) { %>
                        <% players.forEach(function(player){ %>
                          <a class="dropdown-item" href="#"><%= player.name %></a>
                        <% }); %>
                      <% } %>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <table class="table">
                    <thead class="thead">
                      <tr>
                        <th scope="col">Character</th>
                        <th scope="col">Total</th>
                        <th scope="col">Wins</th>
                        <th scope="col">Losses</th>
                        <th scope="col">%</th>
                      </tr>
                    </thead>
                    <tbody>                     
                      <% if (charactersByPlayerTwo) { %>
                        <% charactersByPlayerTwo.forEach(function(character){ %>
                          <tr>
                            <th scope="row"><%= character.name %></th>
                            <th><%= character.total %></th>
                            <th><%= character.wins %></th>
                            <th><%= character.losses %></th>
                            <th><%= character.winrate %></th>
                          </tr>
                        <% }); %>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Wins/Battleground</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <table class="table">
                    <thead class="thead">
                      <tr>
                        <th scope="col">Battleground</th>
                        <th scope="col">Ace</th>
                        <th scope="col">Bojan</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (winsByPlayer) { %>
                        <% winsByPlayer.forEach(function(player){ %>
                          <tr>
                            <th scope="row"><%= player.name %></th>
                            <td><%= player.total %></td>
                            <td><%= player.win %></td>
                          </tr>
                        <% }); %>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <!-- Pie Chart -->
              <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Wins/Losses</h6>

                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <table class="table">
                      <thead class="thead">
                        <tr>
                          <th scope="col">Player</th>
                          <th scope="col">Total</th>
                          <th scope="col">Wins</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if (winsByPlayer) { %>
                          <% winsByPlayer.forEach(function(player){ %>
                            <tr>
                              <th scope="row"><%= player.name %></th>
                              <td><%= player.total %></td>
                              <td><%= player.win %></td>
                            </tr>
                          <% }); %>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div>
            </div>
          </div>
