<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Results</h1>
</div>

<!-- Content Row -->
<div class="row">
  <div class="col-lg">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Format</th>
            <th scope="col">Player One</th>
            <th scope="col">Player Two</th>
            <th scope="col">Battlefield</th>
            <th scope="col">Winner</th>
            <th scope="col">/</th>
            <th scope="col">/</th>
          </tr>
        </thead>
        <tbody>
          <% if (results) { %>
            <% results.forEach(function(result){ %>
              <tr>
                <th scope="row"><%= result.id %></th>
                <td><%= result.formatName %></td>
                <td><%= result.playerOneName %></td>
                <td><%= result.playerTwoName %></td>
                <td><%= result.battlefieldName %></td>
                <td><%= result.winnerName %></td>
                <!-- <td><button type="button" class="btn btn-warning btn-modal" data-id="{{ $category->id }}" data-toggle="modal" data-target="#categoryEditModal{{ $category->id }}">Edit</button></td>
                <td><button type="button" class="btn btn-danger" data-id="{{ $category->id }}" data-toggle="modal" data-target="#delete-modal{{ $category->id }}">Delete</button></td> -->
              </tr>
            <% }); %>
          <% } %>
        </tbody>
      </table>
  </div>
</div>

<!-- Content Row -->

<div class="row">
  <div class="col-lg">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#result-modal">Add Result</button>
  </div>
</div>

<%- include('../modal/_result_modal'); %>